<div class="col offset-s1 s10">

    <div class="row">
        <form id="correoForm" class="col s12" onSubmit="enviarCorreo();return false;">
            <input type="hidden" name="action" value="mail">
            <div class="row">
                <div class="input-field col s12">
                    <input id="nombre" name="nombre" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="fecha" name="fecha" type="text">
                    <label for="asunto">Fecha</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="fecha" name="fecha" type="text">
                    <label for="asunto">Fecha</label>
                </div>
            </div>
            <div class="row" id="loading" style="display:none;">
                <div class="col offset-s4 s4">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                            </div><div class="circle-clipper right">
                            <div class="circle"></div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="row" id="respuestaLista">
            </div>
            <div class="row">
                <div class="input-field col offset-s4 s4">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <a class="btn modal-trigger" id="triger" style="display:none;" href="#modal1">Alert 1</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Agregar link</h4>
            <p>¿Desea agregar un link a la imagen?</p>
            <div class="row">
                <div class="input-field col s6">
                    <input id="link" name="link" type="text">
                    <label for="link">Link</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" onclick="clickImg(true);" class="waves-effect waves-green btn-flat modal-action modal-close">Si</a>
            <a href="javascript:void(0)" onclick="clickImg(false);" class="waves-effect waves-red btn-flat modal-action modal-close">No</a>
        </div>
    </div>